body {
  background: rgb(70,70,171);
  background-image: url(./triangulo.svg);
  background-repeat: no-repeat;
  background-size:100em;
  background-position: center;
  color:#fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
}
bg-purple{

}
shadow{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}
a{
  text-decoration: none;
}
a.hover{
  text-decoration: none;
}
@media only screen and (max-width: 765px) {
    #techs {
        display: none;
    }
}

.bg-preto {
  background-color: rgba(10,23,55,0.5);

}
.bg-branco{
  background-color: rgba(255,255,255,0.8);
}